body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
}
form {
    background-color: #ffffff;
    border-radius: 5px;
    height: 50%;
    min-width: 30vw;
}
fieldset {
    border: none;

    display: grid;
}
